<h3>Home</h3>

<p> Welcome to the home of <%= @owner.name %></p>
<p>Who was born on the <%= @owner.birthdate %></p>

<%# no computations for purposes of seperation of concerns in view%>
<p> and has <%= @owner.countdown %> days to celebrate his birthday</p>
